body {
    background-color: #FCFCFC;
    font-family: 'Open Sans', sans-serif;
}

h4 {
    padding: 5px 0px;
}

a, a:hover {
  color: #006400;
  text-decoration: none;
}

.jumbotron {
    background-color: #FCFCFC;
    color: #006400;
    font-family: 'Lobster', cursive;
}

.container-fluid {
    padding: 60px 50px;
    letter-spacing: 3px;
}

.sub-header {
    padding: 0px 0px 40px 0px;
}

.container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: #d9d9d9;
  padding: 20px 20px 20px 20px;
}

.thumbnail {
    padding: 0 0 15px 0;
    margin-top: 15px;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-color: #000;
    border-style: solid;
}

.port_caption {
    padding-top: 10px;
}